@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');

:root {
    /* primary */
    --dark-cyan: hsla(192, 37%, 48%, 1);
    --dark-violet: hsla(268, 34%, 53%, 1);
    /* secondary */
    --light-cyan: hsla(192, 90%, 77%, 1);
    --light-violet: hsla(268, 100%, 86%, 1);
    /* neutral */
    --black: rgb(55, 55, 82);
    --gray: hsla(240, 10%, 57%, 1);
    --light-gray: hsla(240, 10%, 57%, 0.25);
    --white: hsla(0, 0%, 98%, 1);
    /* button hover */
    --cyan-hover: hsla(192, 54%, 64%, 1);
    --violet-hover: hsla(268, 55%, 71%, 1);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Red Hat Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;            
    justify-content: center;  
    align-items: center;       
    height: 80px;             
}

.hero {
    display: flex;
    justify-content: center;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 3em;
}
h2{
    display: flex;
    justify-content: center;
    color: var(--dark-cyan);
    font-family: 'Red Hat Display', serif;
    font-size: 16px;
    letter-spacing: 4px;
}

.text-content {
    justify-content: center;
    align-items: center;
    justify-self: center;
}

p {
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin: 0 0 0 15%;
    width: 70%;
    font-size: 16px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    margin-top: 2em;
    padding: 1em;
    justify-content: center;
    justify-self: center;
    max-height: 56px;
    border-color: transparent;
    font-weight: 800;
}

.button-blue {
    background: var(--dark-cyan);
    color: var(--white);
    border-radius: 2rem;
}

.button-purple {
    background: var(--dark-violet);
    color: var(--white);
    border-radius: 2rem;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15em; /* Adjust for your desired space */
    margin-top: 10em; /* Add some space for positioning */
}

.number {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    color: var(--gray);
    border-radius: 50%;
}

/* Çizgi */
.number::before {
    content: "";
    position: absolute;
    top: -60px; /* Çizginin uzunluğunu ayarlar */
    width: 1px;
    height: 60px;
    background-color: var(--gray);
}
.image-collage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 20em;
}
img {
    border-radius: 5%;
}