@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');

:root {
    /* primary */
    --dark-cyan: hsla(192, 37%, 48%, 1);
    --dark-violet: hsla(268, 34%, 53%, 1);
    /* secondary */
    --light-cyan: hsla(192, 90%, 77%, 1);
    --light-violet: hsla(268, 100%, 86%, 1);
    /* neutral */
    --black: rgb(55, 55, 82);
    --gray: hsla(240, 10%, 57%, 1);
    --light-gray: hsla(240, 10%, 57%, 0.25);
    --white: hsla(0, 0%, 98%, 1);
    /* buttom hover */
    --cyan-hover: hsla(192, 54%, 64%, 1);
    --violet-hover: hsla(268, 55%, 71%, 1);
    font-family: Red Hat Display, serif;
}
.nav {
    display: flex;            
    justify-content: center;  
    align-items: center;       
    height: 80px;             
}
.hero{
    display: flex;
    justify-content: center;
    align-self: center;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 3em;
}
p{
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin: 0 0 0 0;
    width: 70%;
}
.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    padding: 1em;
    max-height: 56px;
    max-width: 196px;
    border-color: transparent;
    font-weight: 800;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 1em;
    margin-top: 2em;
}

.button-blue {
    background: var(--dark-cyan);
    color: var(--white);
    border-radius: 2rem;
}

.button-purple {
    background: var(--dark-violet);
    color: var(--white);
    border-radius: 2rem;
}

