@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');

:root {
    /* primary */
    --dark-cyan: hsla(192, 37%, 48%, 1);
    --dark-violet: hsla(268, 34%, 53%, 1);
    /* secondary */
    --light-cyan: hsla(192, 90%, 77%, 1);
    --light-violet: hsla(268, 100%, 86%, 1);
    /* neutral */
    --black: rgb(55, 55, 82);
    --gray: hsla(240, 10%, 57%, 1);
    --light-gray: hsla(240, 10%, 57%, 0.25);
    --white: hsla(0, 0%, 98%, 1);
    /* button hover */
    --cyan-hover: hsla(192, 54%, 64%, 1);
    --violet-hover: hsla(268, 55%, 71%, 1);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Red Hat Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.nav {
    display: flex;            
    justify-content: center;  
    align-items: center;       
    height: 80px;             
}

.hero {
    display: flex;
    justify-content: center;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 3em;
}
h2{
    display: flex;
    justify-content: center;
    color: var(--dark-cyan);
    font-family: 'Red Hat Display', serif;
    font-size: 16px;
    letter-spacing: 4px;
}

.text-content {
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.text-content2{
    padding-bottom: 10em;
}

p {
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin: 0 0 0 15%;
    width: 70%;
    font-size: 16px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    margin-top: 2em;
    padding: 1em;
    justify-content: center;
    justify-self: center;
    max-height: 56px;
    border-color: transparent;
    font-weight: 800;
}

.button-blue {
    background: var(--dark-cyan);
    color: var(--white);
    border-radius: 2rem;
}

.button-purple {
    background: var(--dark-violet);
    color: var(--white);
    border-radius: 2rem;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15em; /* Adjust for your desired space */
    margin-top: 10em; /* Add some space for positioning */
}

.number {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    color: var(--gray);
    border-radius: 50%;
}

/* Çizgi */
.number::before {
    content: "";
    position: absolute;
    top: -60px; /* Çizginin uzunluğunu ayarlar */
    width: 1px;
    height: 60px;
    background-color: var(--gray);
}
.image-collage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 20em;
}
img {
    border-radius: 5%;
}
.footer {

    position: relative;
    background-image:  linear-gradient(hsla(192, 37%, 48%, 0.6), hsla(192, 37%, 48%, 0.6)), /* Yarı saydam HSLA renk */
    url(./assets/desktop/image-footer.jpg); /* Arka plan resmi */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 10em; 
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10em; 
    background-color: var(--white); 
    z-index: -1; 
}

.number-2 {
    position: absolute;
    top: -13em; /* Beyaz alandan itibaren yerleştirmek için */
    left: 37em;
    font-size: 1.1em; /* Daha büyük yapmak için font boyutunu arttırdım */
    font-weight: 700; 
    color: var(--gray);
    background-color: var(--white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* Number-2 için çizgi */
.number-2::before {
    content: "";
    position: absolute;
    top: -130px; /* Çizginin uzunluğunu ayarlar */
    width: 1px;
    height: 120px;
    background-color: var(--gray); /* Çizgi rengi */
    left: 50%; /* Çizgiyi tam ortalamak için */
    transform: translateX(-50%); /* Çizgiyi yatayda ortalamak için */

}
.content-footer {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin: 10%;
}